@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

.bayardulu {
    display: flex;
    margin: 20;
    padding: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bayardulu h1 {
  animation: colorChange 5s infinite;
  transition: color 0.5s; 
}

@keyframes colorChange {
  0% { color: rgb(255, 0, 0); }
  25% { color: rgb(255, 255, 0); }
  50% { color: rgb(0, 255, 0); }
  75% { color: rgb(0, 255, 255); }
  100% { color: rgb(255, 0, 255); }
  75% { color: rgb(0, 255, 255); }
  50% { color: rgb(0, 255, 0); }
  25% { color: rgb(255, 255, 0); }
  15% { color: rgb(0, 153, 255); }
  15% { color: rgb(255, 255, 0); }
  5% { color: rgb(255, 255, 0); }
  5% { color: rgb(255, 0, 0); }
}


.fandyfr {
  text-align: center;
    font-size: 26px;
    color: white;
    display: flex;
    margin: -60px;
    align-items: center;
    justify-content: center;
}

.gambar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    width: 300;
    height: 200;
}

.btn-23,
.btn-23 *,
.btn-23 :after,
.btn-23 :before,
.btn-23:after,
.btn-23:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-23 {
    text-decoration: none;
    position: fixed;
    top: 50%;
    left: 50%;
  transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}

.btn-23:disabled {
  cursor: default;
}

.btn-23:-moz-focusring {
  outline: auto;
}

.btn-23 svg {
  display: block;
  vertical-align: middle;
}

.btn-23 [hidden] {
  display: none;
}

.btn-23 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}

.btn-23 span {
  display: grid;
  inset: 0;
  place-items: center;
  position: absolute;
  transition: opacity 0.2s ease;
}

.btn-23 .marquee {
  color: #adff2f;
  --spacing: 5em;
  --start: 0em;
  --end: 5em;
  -webkit-animation: marquee 1s linear infinite;
  animation: marquee 1s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  opacity: 0;
  position: relative;
  text-shadow: #adff2f var(--spacing) 0, #adff2f calc(var(--spacing) * -1) 0,
  #adff2f calc(var(--spacing) * -2) 0;
}

.btn-23:hover .marquee {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
}

.btn-23:hover .text {
  opacity: 0;
}

@-webkit-keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }

  to {
    transform: translateX(var(--end));
  }
}

@keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }

  to {
    transform: translateX(var(--end));
  }
}
main h1 {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iklan {
  flex-grow: 1; /* Mengisi ruang kosong di antara video dan teks */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.iklan video {
  width: 100;
  max-width: 600px;
  height: auto;
}

.minimalbuat {
  position: fixed;
  bottom: -15px;
  width: 100%;
  padding: 20px;
  background-color: #00000091;
  color: white;
  text-align: center;
}